@charset "UTF-8";

@import "variables";
@import "mixin";

html {
	overflow-y: scroll;
	height: 100%;
	-webkit-text-size-adjust: 100%;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
//	word-break: break-all;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	word-break: break-all;
}
p {
	word-break: break-all;
}
abbr, acronym, fieldset {
	border: 0
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
nav ul {
	list-style: none;
}
li {
	list-style: none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
a {
	color: #0055AD;
	text-decoration: none;
	@include prefix(transition, all .02s linear);
}
a:visited {
	color: #0055AD;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: #0055AD;
}
img {
	vertical-align: bottom;
}
input, select {
	vertical-align:middle;
	margin: 0;
	padding: 0;
}
label,
select,
input[type="file"],
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="radio"] {
	cursor: pointer;
}
button,
input[type="submit"] {
	outline: none;
}
textarea, , input[type="password"], input[type="text"],input[type="search"]{
	@include prefix(box-sizing, $box-sizing_defaultVal);
	outline: none;
}
body {
	color: #333;
	font-family:'Helvetica Neue',Helvetica,Arial,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,sans-serif;
	background-color: #F2F2F2;
	font-size: 12px;
	line-height: 18px;
}