@charset "UTF-8";
@import "variables";
@import "mixin";



@media only screen and (max-width: 768px) {
	.game-tips-layout {
		#main-content-wrap,
		#layout-1,
		#layout-2,
		#layout-3 {
			float: none;
			width: 100%;
		}
	}

	.container,
	#main-content-wrap,
	#layout-1,
	#layout-2,
	#layout-3 {
		float: none;
		width: 100%;
	}

	#header {
		margin: 165px 0 0 0;
	}

	#common-header {
		background: rgba(255,255,255,.5);
	}

	#content-header.front-page {
		height: 80px;
		.game-icon {
			width: 40px;
			height: 40px;
			left: 10px;
			bottom: 20px;
			@include prefix(border-radius, 3px);
		}
		.game-title {
			left: 60px;
			bottom: 30px;
			padding: 0;
			font-size: 15px;
		}
	}

	#content-main-nav {
		.nav {
			margin: 0;
			li {
				width: 33.3333%;
				border-right: 1px solid #E5E5E5;
				border-bottom: 1px solid #E5E5E5;
			}
			a {
				font-size: 11px;
				height: 32px;
				line-height: 32px;
				&:hover {
					@include prefix(transition, all 0 linear);
				}
			}
			.current {
				a {
					border-bottom-width: 3px;
				}
			}
		}
		&.sp-trans {
			overflow: hidden;
			.inner {
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				&::-webkit-scrollbar{ /* スクロールバー本体 */
					width: 0;
					background: transparent;
				}
				&::-webkit-scrollbar:horizontal{ /* 横方向のスクロールバー本体 */
					width: 0;
					background: transparent;
				}
				&::-webkit-scrollbar-thumb,/* スクロールバーの動く部分 */
				&::-webkit-scrollbar-thumb:horizontal, /* 横方向のスクロールバーの動く部分 */
				&::-webkit-scrollbar-track-piece:start, /* スクロールバーの動く部分の前 */
				&::-webkit-scrollbar-track-piece:end,/* スクロールバーの動く部分の後ろ */
				&::-webkit-scrollbar-corner{ /* スクロールバー角 */
					background: transparent;
				}
				.nav {
					display: table;
					li {
						float: none;
						display: table-cell;
						min-width: 100px;
						a {
							height: 44px;
							line-height: 44px;
						}
					}
				}
			}
			.game-icon {
				position: relative;
				bottom: 3px;
				display: inline-block;
				width: 24px;
				height: 24px;
				margin: 0 5px 0 0;
				vertical-align: middle;
			}
		}
	}

	#footer {
		padding: 20px 0 120px;
	}

	#site-relation-link-list {
		padding: 0 10px;
	}

	#footer-game-title {
		dt {
			padding: 0 10px;
		}
		li {
			float: none;
			width: auto;
			border-bottom: 1px solid #E5E5E5;
			&:first-child {
				border-top: 1px solid #E5E5E5;
			}
			a {
				padding: 5px 10px;
			}
		}
		.game-icon {
			width: 32px;
			height: 32px;
		}
		.game-title {
			margin: 8px 0 0 0;
		}
	}
	.side-menu-list {
		> ul {
			li {
				border-bottom: 1px solid #E5E5E5;
				&:first-child {
					border-top: 1px solid #E5E5E5;
				}
				&:last-child {
					border-bottom: none;
				}
				> ul {
					padding: 0;
				}
			}
		}

	}
	/*----------------------------------------------
	 * メニューへ
	 *--------------------------------------------*/
	#menu-slide {
			display: none;
			position: fixed;
			bottom: 95px;
			left: 0;
			background-color: rgba(0, 0, 0, 0.45);
			color: #CCC;
			width: 44px;
			height: 44px;
			line-height: 44px;
			text-align: center;
			font-weight: bold;
			cursor: pointer;
			z-index: 9999;
			@include prefix(border-radius, 0 3px 3px 0);
			@include prefix(box-sizing, $box-sizing_defaultVal);
			span {
				border-top: 3px solid #CCC;
			}
			.fa {
				position: relative;
				top: 8px;
				font-size: 24px;
			}
	}

	/*----------------------------------------------
	 * ページTOPへ戻る
	 *--------------------------------------------*/
	#page-top-back {
			right: 0;
			bottom: 95px;
			width: 44px;
			height: 44px;
			line-height: 44px;
			@include prefix(border-radius, 3px 0 0 3px);
			.fa {
				top: 7px;
				font-size: 24px;
			}
	}
	.sp-hide {
		display: none !important;
	}

	.sp-show {
		display: block !important;
	}

	/*----------------------------------------------
	 * スマホの広告
	 *--------------------------------------------*/
	.sp-ad-jack {
		position: fixed;
		z-index: 9999;
		width: 100%;
		&.top {
			top: 0;
			img {
				max-width: 100%;
				height: auto;
			}
		}
		&.bottom {
			bottom: 0;
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}